
Gestion/~$Proposition.xlsx
Gestion/Estimations/~$matrice-de-descision-1.xlsx
.idea
.ipynb_checkpoints
__pycache__
Références/My EndNote Library.Data/sdb/sdb.eni
Documents/Estimations/~$Coût.xlsx
Documents/Estimations/~$Estimations_architecture.xlsx
Références/My EndNote Library.Data/sdb/sdb.eni
*venv_5c